<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
            crossorigin="anonymous"
        />

        <title>Books</title>
    </head>
    <body>
        <div class="container">
            <!-- Search box -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
                <a class="navbar-brand" href="#">🕮</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a
                                class="nav-link"
                                href="./books.html"
                                th:href="@{/books/list}"
                                ><strong>Books </strong>
                                <span class="sr-only">(current)</span></a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="../authors/authors.html"
                                th:href="@{/authors/list}"
                                >Authors</a
                            >
                        </li>
                        <li>
                            <a
                                class="nav-link"
                                href="../publishers/publishers.html"
                                th:href="@{/publishers/list}"
                                >Publishers</a
                            >
                        </li>
                    </ul>
                    <form
                        action="#"
                        th:action="@{/books/search}"
                        method="GET"
                        class="form-inline my-2 my-lg-0"
                    >
                        <!-- Select search field and wire up the search -->
                        <div class="input-group">
                            <select
                                class="input-group-prepend"
                                name="searchField"
                                id="searchFieldSelector"
                            >
                                <option
                                    value="title"
                                    th:selected="${searchField} == 'title'"
                                >
                                    Title
                                </option>
                                <option
                                    value="author"
                                    th:selected="${searchField} == 'author'"
                                >
                                    Author
                                </option>
                                <option
                                    value="year"
                                    th:selected="${searchField} == 'year'"
                                >
                                    Year
                                </option>
                                <option
                                    value="publisher"
                                    th:selected="${searchField} == 'publisher'"
                                >
                                    Publisher
                                </option>
                            </select>
                            <input
                                class="form-control mr-sm-2"
                                type="search"
                                name="searchTerm"
                                placeholder="Search"
                                aria-label="Search"
                            />
                            <button class="btn btn-secondary" type="submit">
                                Search
                            </button>
                        </div>
                    </form>
                </div>
            </nav>
            <a
                href="./book-form.html"
                th:href="@{/books/showFormForAdd}"
                class="btn btn-primary btn-sm mb-3"
                >Add Book</a
            >
            <table
                class="table table-sm table-bordered table-striped table-responsive-md"
            >
                <thead class="thead-dark">
                    <tr>
                        <th>Book Id</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Year Published</th>
                        <th>Publisher</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${books}">
                        <td th:text="${book.id}" />
                        <td th:text="${book.title}" />
                        <td>
                            <div
                                th:each="author : ${book.authors}"
                                th:text="${author.name}"
                            />
                        </td>
                        <td th:text="${book.yearPublished}" />
                        <td
                            th:text="${book.publisher} ? ${book.publisher.name}"
                        />
                        <td>
                            <a
                                href="./book-form.html"
                                th:href="@{/books/showFormForUpdate(bookId=${book.id})}"
                                class="btn btn-info btn-sm"
                                >Update</a
                            >
                            <button
                                type="button"
                                class="btn btn-danger btn-sm"
                                data-toggle="modal"
                                data-target="#delete_book_modal"
                            >
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal dialog -->
        <div
            class="modal"
            id="delete_book_modal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="delete_book_modal__label"
            aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete_book_modal__label">
                            Do you really want to delete this book?
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label for="modal__book-id" class="col-4"
                                >Book Id:</label
                            >
                            <p id="modal__book-id" class="col"></p>
                        </div>
                        <div class="row">
                            <label for="modal__book-title" class="col-4"
                                >Title:</label
                            >
                            <p id="modal__book-title" class="col"></p>
                        </div>
                        <div class="row">
                            <label for="modal__book-authors" class="col-4"
                                >Author:</label
                            >
                            <p id="modal__book-authors" class="col"></p>
                        </div>
                        <div class="row">
                            <label
                                for="modal__book-year-published"
                                class="col-4"
                                >Year Published:</label
                            >
                            <p id="modal__book-year-published" class="col"></p>
                        </div>
                        <div class="row">
                            <label for="modal__book-publisher" class="col-4"
                                >Publisher:</label
                            >
                            <p id="modal__book-publisher" class="col"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                        >
                            Cancel
                        </button>
                        <a
                            th:href="@{/books/list}"
                            class="btn btn-primary"
                            id="modal__delete-button"
                        >
                            Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"
        ></script>
        <script
            type="text/javascript"
            th:src="@{/js/delete-book-modal.js}"
        ></script>
    </body>
</html>
