<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
            crossorigin="anonymous"
        />

        <title>Book</title>
    </head>
    <body>
        <div class="container">
            <div th:replace="~{books/books :: nav}"></div>

            <h4 class="row justify-content-center mb-4">Save Book</h4>

            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <form
                        action="#"
                        th:action="@{/books/save}"
                        th:object="${book}"
                        method="POST"
                    >
                        <!-- Add hidden form field to handle update -->
                        <input type="hidden" th:field="*{id}" />

                        <div class="form-group">
                            <label for="form__book-title">Title</label>
                            <input
                                required
                                type="text"
                                th:field="*{title}"
                                class="form-control"
                                placeholder="Title"
                                id="form__book-title"
                            />
                        </div>
                        <div class="form-group">
                            <label for="form__book-authors">Authors</label>
                            <select
                                multiple
                                th:field="*{authors}"
                                class="form-control"
                                id="form__book-authors"
                                aria-describedby="form__author-selection-help"
                            >
                                <option
                                    th:each="author : ${all_authors}"
                                    th:value="${author.id}"
                                    th:text="${author.name}"
                                />
                            </select>
                            <small
                                class="form-text text-muted"
                                id="form__author-selection-help"
                            >
                                You can select multiple authors by using
                                Ctrl+Click or a range of authors by using
                                Shift+Click.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="form__year-published"
                                >Year Published</label
                            >
                            <input
                                type="number"
                                th:field="*{yearPublished}"
                                class="form-control"
                                placeholder="Year"
                                id="form__year-published"
                            />
                        </div>
                        <div class="form-group">
                            <label for="form__publisher">Publisher</label>
                            <a
                                href="../publishers/publisher-form.html"
                                th:unless="${book.id eq 0}"
                                th:href="@{/publishers/editPublisher(bookId=${book.id})}"
                                class="btn btn-outline-info btn-sm"
                                >Add New</a
                            >
                            <select
                                th:field="*{publisher}"
                                class="custom-select"
                                placeholder="Publisher"
                                id="form__publisher"
                            >
                                <option value="">-- Select publisher --</option>
                                <option
                                    th:each="publisher : ${all_publishers}"
                                    th:value="${publisher.id}"
                                    th:text="${publisher.name}"
                                />
                            </select>
                        </div>
                        <div class="row justify-content-around mb-4 mt-4">
                            <a
                                href="./books.html"
                                th:href="@{/books/list}"
                                class="btn btn-secondary"
                                >Back</a
                            >
                            <button type="submit" class="btn btn-primary">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
