<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
            crossorigin="anonymous"
        />

        <title>Author</title>
    </head>
    <body>
        <div class="container">
            <div th:replace="~{authors/authors :: nav}"></div>

            <h4 class="row justify-content-center mb-4">Save Author</h4>

            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-6 col-lg-4">
                    <form
                        action="#"
                        th:action="@{/authors/save}"
                        th:object="${author}"
                        method="POST"
                    >
                        <!-- Add hidden form field to handle update -->
                        <input type="hidden" th:field="*{id}" />

                        <div class="form-group">
                            <label for="form__author-first-name"
                                >First Name</label
                            >
                            <input
                                type="text"
                                th:field="*{firstName}"
                                class="form-control"
                                placeholder="First Name"
                                id="form__author-first-name"
                            />
                        </div>
                        <div class="form-group">
                            <label for="form__author-last-name"
                                >Last Name</label
                            >
                            <input
                                type="text"
                                th:field="*{lastName}"
                                class="form-control"
                                placeholder="Last Name"
                                id="form__author-last-name"
                            />
                        </div>
                        <div class="row justify-content-around mb-4 mt-4">
                            <a
                                href="./authors.html"
                                th:href="@{/authors/list}"
                                class="btn btn-secondary"
                                >Back</a
                            >
                            <button type="submit" class="btn btn-primary">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
