<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
            crossorigin="anonymous"
        />

        <title>Authors</title>
    </head>
    <body>
        <div class="container">
            <!-- Search box -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
                <a class="navbar-brand" href="#">🕮</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="../books/books.html"
                                th:href="@{/books/list}"
                                ><strong>Books </strong>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a
                                class="nav-link"
                                href="./authors.html"
                                th:href="@{/authors/list}"
                                >Authors<span class="sr-only"
                                    >(current)</span
                                ></a
                            >
                        </li>
                        <li>
                            <a
                                class="nav-link"
                                href="../publishers/publishers.html"
                                th:href="@{/publishers/list}"
                                >Publishers</a
                            >
                        </li>
                    </ul>
                    <form
                        action="#"
                        th:action="@{/books/search}"
                        method="GET"
                        class="form-inline my-2 my-lg-0"
                    >
                        <!-- Select search field and wire up the search -->
                        <div class="input-group">
                            <select
                                class="input-group-prepend"
                                name="searchField"
                                id="searchFieldSelector"
                            >
                                <option value="title">Title</option>
                                <option value="author">Author</option>
                                <option value="year">Year</option>
                                <option value="publisher">Publisher</option>
                            </select>
                            <input
                                class="form-control mr-sm-2"
                                type="search"
                                name="searchTerm"
                                placeholder="Search"
                                aria-label="Search"
                            />
                            <button class="btn btn-secondary" type="submit">
                                Search
                            </button>
                        </div>
                    </form>
                </div>
            </nav>
            <a
                href="./author-form.html"
                th:href="@{/authors/showFormForAdd}"
                class="btn btn-primary btn-sm mb-3"
                >Add Author</a
            >
            <table
                class="table table-bordered table-striped table-responsive-sm"
            >
                <thead class="thead-dark">
                    <tr>
                        <th>Author Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="author : ${authors}">
                        <td th:text="${author.id}" />
                        <td th:text="${author.firstName}" />
                        <td th:text="${author.lastName}" />
                        <td>
                            <a
                                href="./author-form.html"
                                th:href="@{/authors/showFormForUpdate(authorId=${author.id})}"
                                class="btn btn-info btn-sm"
                                >Update</a
                            >
                            <button
                                type="button"
                                class="btn btn-danger btn-sm"
                                data-toggle="modal"
                                data-target="#delete_author_modal"
                            >
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal dialog -->
        <div
            class="modal"
            id="delete_author_modal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="delete_author_modal__label"
            aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete_author_modal__label">
                            Do you really want to delete this author?
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label for="modal__author-id" class="col-4"
                                >Author Id:</label
                            >
                            <p id="modal__author-id" class="col"></p>
                        </div>
                        <div class="row">
                            <label for="modal__author-first-name" class="col-4"
                                >First Name:</label
                            >
                            <p id="modal__author-first-name" class="col"></p>
                        </div>
                        <div class="row">
                            <label for="modal__author-last-name" class="col-4"
                                >Last Name:</label
                            >
                            <p id="modal__author-last-name" class="col"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                        >
                            Cancel
                        </button>
                        <a
                            th:href="@{/authors/list}"
                            class="btn btn-primary"
                            id="modal__delete-button"
                        >
                            Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"
        ></script>
        <script
            type="text/javascript"
            th:src="@{/js/delete-author-modal.js}"
        ></script>
    </body>
</html>
