<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
            crossorigin="anonymous"
        />

        <title>Publisher</title>
    </head>
    <body>
        <div class="container">
            <div th:replace="~{books/books :: nav}"></div>

            <h4 class="row justify-content-center mb-4">Save Publisher</h4>

            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <!-- TODO: Fix the case for bookId=0 -->
                    <form
                        action="#"
                        th:action="${bookId} ? @{/publishers/save(bookId=${bookId})} : @{/publishers/save}"
                        th:object="${publisher}"
                        method="POST"
                    >
                        <!-- Add hidden form field to handle update -->
                        <input type="hidden" th:field="*{id}" />

                        <div class="form-group">
                            <label for="form__publisher-name">Name</label>
                            <input
                                required
                                type="text"
                                th:field="*{name}"
                                class="form-control"
                                placeholder="Name"
                                id="form__publisher-name"
                            />
                        </div>
                        <div class="row justify-content-around mb-4 mt-4">
                            <a
                                href="./publishers.html"
                                th:href="${bookId} ? @{/books/showFormForUpdate(bookId=${bookId})} : @{/publishers/list}"
                                class="btn btn-secondary"
                                >Back</a
                            >
                            <button type="submit" class="btn btn-primary">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
